@model Examstagram.Models.Question



<form method="post" enctype="multipart/form-data">
  
        <input asp-for="Id" hidden />

    
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">
                Удалить вопрос
            </h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="QuestionContent"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="QuestionContent" disabled class="form-control" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Explaining"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Explaining" class="form-control summernote"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CategoryIdForQuestion"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Category.Name" disabled class="form-control" />

                    </div>
                </div>





                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-danger w-100" value="Удалить" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-outline-success w-100">
                                <i class="fas fa-sign-out-alt"></i> &nbsp; Назад
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4">
                @if (Model.Id != 0)
                {
                    <img src="@WC.imagePath@Model.Image" class="w-100" style="border-radius:5px; border:1px solid #bbb" />

                }
            </div>
        </div>
    </div>

</form>



@section Scripts{
    @{


        <partial name="_ValidationScriptsPartial" />
        }
    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 300,                 // set editor height
                minHeight: null,             // set minimum height of editor
                maxHeight: null,             // set maximum height of editor
                focus: true,                  // set focus to editable area after initializing summernote
                disable: true
            });
        });
    </script>
    }
    
